<html>

	<head>
		<title>About</title>
		<link rel="stylesheet" href="./css/styles.css" />

	</head>

	<body>
		<div class="main-content">
			{{>header}}
			<img class="comic" src="/img/comic.png" />
		</div>


		{{>footer}}
	</body>

</html>